<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="header"><h1 id="topH1"><a href="/api">My API Documentation</a></h1></div>
    <div class="container">
      <div class="row"><h1 id="myProjectsH1">My Projects</h1></div>
      <div class="row projects">
        <script class="deliverables-list" type="text/x-handlebars-template">
          {{#each pr}}
          <div class="col-md-8 col-md-offset-2 deliverables">
            <div class="row">
              <div class="col-md-9">
                <h2 class="inBlockText">{{name}}</h2>
                <h4 class="inBlockText">{{description}}</h4>
              </div>
              <div class="stars col-md-3">
                <form class="rating">
                  <input type="hidden" name="rating" value="0"/>
                  <input type="hidden" name="project" value={{_id}}/>
                  <span class="star1">&#9734</span>
                  <span class="star2">&#9734</span>
                  <span class="star3">&#9734</span>
                  <span class="star4">&#9734</span>
                  <span class="star5">&#9734</span>
                </form>
                <!-- <p class="r"></p> -->
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-8 split">
                <p class="col-md-10 col-md-offset-1">Feedbacks:</p>
                <input class="feedback col-md-10 col-md-offset-1" type="text" readonly/>
              </div>
              <div class="col-md-4">
                <form class="projectsForm">
                  <p>Leave feedback:</p>
                  <input type="hidden" name="project" value={{name}}/>
                  <input type="text" name="feedback"/>
                  <input type="submit" value="Post Feedback"/>
                </form>
              </div>
            </div>
            <hr>
            <div class="row projectFooter">
              <div class="col-md-8"><a href={{githubLink}} class="inBlockLink">Repository for this project</a></div>
              <div class="col-md-4"><img src="assets/imgs/{{technology}}.png" class="inBlockImg"></div>
          </div>
          </div>
          {{/each}}
          </script>
      </div>
      </div>
  </body>
</html>
